<!DOCTYPE html>
<html>
<head>
  <title>Bienvenue dans l'équipe Booker</title>
</head>
<body>
  {{!-- <h1>Bienvenue {{firstName}},</h1> --}}
  <h1>Bienvenue,</h1>
  <p>Votre administrateur, vous a créer un compte. Veuillez cliquer sur le lien ci-dessous pour défifnir votre mot de passe :</p>
  <a href="{{url}}">Définir mon mot de passe</a>
</body>
</html>
