<!DOCTYPE html>
<html>
<head>
  <title>Initialiser mon mot de passe</title>
</head>
<body>
  <h1>Bienvenue,</h1>
  <p>Votre compte a été créé par un administrateur. Veuillez cliquer sur le lien ci-dessous pour définir votre mot de passe :</p>
  <a href="{{url}}">Initialiser mon mot de passe</a>
  <p>Si vous n'êtes pas à l'origine de cette création de compte, veuillez ignorer cet email.</p>
</body>
</html>
