<!DOCTYPE html>
<html>
<head>
  <title>Réinitialiser mon mot de passe</title>
</head>
<body>
  <h1>Bonjour,</h1>
  <p>Vous avez demandé à réinitialiser votre mot de passe. Veuillez cliquer sur le lien ci-dessous pour définir un nouveau mot de passe :</p>
  <a href="{{url}}">Réinitialiser mon mot de passe</a>
  <p>Si vous n'avez pas demandé cette réinitialisation, veuillez ignorer cet email.</p>
</body>
</html>

